body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #006de2;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    background: #006de2;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background: #0056b3;
    color: white;
}

.header img {
    margin-left: 55%;
    width: auto;
    height: 40px;
    /* Высота кнопки */
    border-radius: 5px;
    padding: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    flex: 1;
}

h1 {
    margin-bottom: 20px;
}

p {
    max-width: 600px;
    line-height: 1.5;
}